.Product ul li{
    border:  1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.Product button{
    width: 150px;
}
.Product img{
    height: 200px;
}
.Product .count{
    right: 2px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;

}

.list{
    gap: 2rem;
}
.item{
    width: 400px;
}