.card{
    border: 2px solid #0000;
}
.Product img{
    height: 200px;
    width: auto;
}


.Product ul li{
    border:  1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}