.link{
    position: relative;
    padding-bottom: 5px;
}
.link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: #A1613B;
    height: 2px;
}
.link:hover::after{
    width: 100%;
    transition: 1s;
}
@media (max-width: 480px){
    header{
        display: none;
    }
}


