@media (max-width: 480px){
    .title{
        font-size: 30px;
    }
    .text_your {
        font-size: 18px;
        text-align: center;
        width: 273px;
    }
    .answer p{
        width: 14rem;
    }
}