.btn2{
    border-radius: 10px;
    padding: 8px;
    width: 120px;
}
.about{
    font-size: 18px;
    
}
.About{
    border-top:2px solid #A1613B;
}
@media (max-width: 480px){
    .about {
        font-size: 13px;
        width: 244px;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
    .answer p {
        width: 200px;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 992px){
    .about {
        font-size: 13px;
        width: 244px;
    }
    .btns{
        display: flex;
        flex-direction: row;
    }
    .answer p {
        width: 200px;
        text-align: center;
    }
}